python-dotenv
streamlit
unstructured
tiktoken

# LangChain
langchain==0.3.27
langchain-core==0.3.76
langchain-community==0.3.29
langchain-text-splitters==0.3.11
langchain-chroma==0.2.6
langchain-groq==0.3.8
langchain-huggingface==0.3.1
langchain-ollama==0.3.8

# Vector DB
chromadb

# Embeddings (🔥 REQUIRED)
sentence-transformers
torch

# Misc
protobuf
